<a href="https://colab.research.google.com/github/AlexsanderPessoa/agro_python/blob/main/Agroadvance_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ano = int(input('Digite o ano: '))
if (ano%4 == 0 and ano%100!=0) or (ano%400==0):
    print('Pode ser um ano bissexto')
else:
    print('Não é um ano bissexto')

Digite o ano: 2024
Pode ser um ano bissexto

In [ ]:
palavra = str(input())
print('Soletrando')
for caracter in palavra:
    print(caracter)

print(caracter) # a variavel caracter ficou como a ultima letra da pallavra

sono
Soletrando
s
o
n
o
o

In [ ]:
valor = 20000
quant_vendas = int(input('Quantas vendas o funcionário fez? '))
if (quant_vendas < valor):
    print('Ela não ganha bonus')
elif (quant_vendas > valor*2):
    valor2 = ((quant_vendas*7)/100)
    print('Ela ganha um bonus de 7%, o seu valor é ', valor2)
else:
    valor2 = ((quant_vendas*3)/100)
    print('Ela ganha um bonus de 3%, o seu valor é ', valor2)

Quantas vendas o funcionário fez? 50000
Ela ganha um bonus de 7%, o seu valor é  3500.0

In [ ]:
tupla = (23, 'agro', 4.56, (2, 3))
print(tupla[0])
print(tupla[1])
print(tupla[2])
print(tupla[3])
print(tupla[3][0])
print(tupla[3][1])

23
agro
4.56
(2, 3)
2
3

In [ ]:
# criando uma lista vazia
lsn = []
#se eu printar vou verificar que a lista esta vazia
print(lsn)
#agora irei começar a adicionar os valores na lista, é como se eu apertasse o botão (inserir)
# lsn.append('')
lsn.append('')
lsn.append(23)

#agora iremos ver o que foi inserido no print
print(lsn)

[]
['', 23]

In [ ]:
agro = ['python', 'agronegocio', 'tecnologia', 'precisao', 'sensor', 'mapeamento', 'produtividade', 'solo', 'planta', 'clima']

In [ ]:
agro

['python',
 'agronegocio',
 'tecnologia',
 'precisao',
 'sensor',
 'mapeamento',
 'produtividade',
 'solo',
 'planta',
 'clima']

In [ ]:
print(agro[1:5])

['agronegocio', 'tecnologia', 'precisao', 'sensor']

In [ ]:
maiores4 = []
agro = ['python', 'agronegocio', 'tecnologia', 'precisao', 'sensor', 'mapeamento', 'produtividade', 'solo', 'planta', 'clima']
for i in agro:
    if len(i) > 10:
        maiores4.append(i)

print(maiores4)

p_ou_s = []
for i in agro:
    if (i[0] == 's') or (i[0] == 'p'):
        p_ou_s.append(i)

print(p_ou_s)

['agronegocio', 'produtividade']
['python', 'precisao', 'sensor', 'produtividade', 'solo', 'planta']

In [ ]:
veiculo = {
     'AAA0A00':['Carro', 'Fusca', 1978, 'Azul'],
     'BBB1B11':['Carro', 'Voyage', 1985, 'Branco'],
     'CCC2C22':['Carro','Del-rey',1984,'Dourado'],
     'DDD3D33':['Moto','CB',1998,'Vermelha']
 }

In [ ]:
veiculo['BBB1B11']

['Carro', 'Voyage', 1985, 'Branco']

In [ ]:
veiculo[2] #não posso chamar pela posição

KeyError: ignored

In [ ]:
#quero modificar, nesse caso eu preciso colocar todas as variaveis? 
veiculo['DDD3D33'] = ['Moto','CB',1995,'Preta']

#se eu quiser incluir algo novo, é só chamar o dicionário e colocar as especificações
veiculo['EEE4E44'] = ['avião','desconhecido',19900,'camuflada']

In [ ]:
veiculo

{'AAA0A00': ['Carro', 'Fusca', 1978, 'Azul'],
 'BBB1B11': ['Carro', 'Voyage', 1985, 'Branco'],
 'CCC2C22': ['Carro', 'Del-rey', 1984, 'Dourado'],
 'DDD3D33': ['Moto', 'CB', 1995, 'Preta'],
 'EEE4E44': ['avião', 'desconhecido', 19900, 'camuflada']}

In [ ]:
#posso excluir 
del veiculo['BBB1B11']

In [ ]:
veiculo

{'AAA0A00': ['Carro', 'Fusca', 1978, 'Azul'],
 'CCC2C22': ['Carro', 'Del-rey', 1984, 'Dourado'],
 'DDD3D33': ['Moto', 'CB', 1995, 'Preta'],
 'EEE4E44': ['avião', 'desconhecido', 19900, 'camuflada']}

In [ ]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [ ]:
mais_vendidos['livros']

'o alquimista'

In [ ]:
mais_vendidos['lazer']

'prancha surf'

In [ ]:
vendas_tecnologia['notebook asus']

2450

In [ ]:
vendas_tecnologia['ipad']

1000

In [ ]:
#jeito errado, é preferivel que se use o return
def is_infloat(x):
    if (type(x) == int or type(x) == float):
        print('é um inteiro ou um float')
    else:
        print('não é um inteiro e nem um float')

In [ ]:
val1 = 3.0
is_infloat(val1)

val2 = 3
is_infloat(val2)

val3 = 'Agro'
is_infloat(val3)

é um inteiro ou um float
é um inteiro ou um float
não é um inteiro e nem um float

In [ ]:
#agora iremos usar o return
def is_infloat_com_return(x):
    if (type(x) == int or type(x) == float):
        return True
        #return 'Agro' ou seja, posso retornar o q eu quiser, nesse caso eu retornei uma string
    else:
        return False

In [ ]:
val1 = 3.0
print(is_infloat_com_return(val1))

val2 = 3
print(is_infloat_com_return(val2))

val3 = 'Agro'
print(is_infloat_com_return(val3))

True
True
False

In [ ]:
def soma(num1, num2, num3):
    return num1 +num2 + num3

test  = soma(10,20,0)
print(test)

30

In [ ]:
produtos = ['beb46275','TFA23962','TFA64715','TFA69555','TFA56743','BSA45510','TFA44968','CAR75448','CAR23596','CAR13490','BEB21365','BEB31623','BSA62419','BEB73344','TFA20079','BEB80694','BSA11769','BEB19495','TFA14792','TFA78043','BSA33484','BEB97471','BEB62362','TFA27311','TFA17715','BEB85146','BEB48898','BEB79496','CAR38417','TFA19947','TFA58799','CAR94811','BSA59251','BEB15385','BEB24213','BEB56262','BSA96915','CAR53454','BEB75073']

In [ ]:
lista = []
for i in produtos:
    if checar(i):
        print('Enviar {} para setor de adubos'.format(i))
        lista.append(i)
print(lista)

def checar(adubo):
    adubo = adubo.upper()
    if 'BEB' in adubo:
        return True
    else:
        return False

Enviar beb46275 para setor de adubos
Enviar BEB21365 para setor de adubos
Enviar BEB31623 para setor de adubos
Enviar BEB73344 para setor de adubos
Enviar BEB80694 para setor de adubos
Enviar BEB19495 para setor de adubos
Enviar BEB97471 para setor de adubos
Enviar BEB62362 para setor de adubos
Enviar BEB85146 para setor de adubos
Enviar BEB48898 para setor de adubos
Enviar BEB79496 para setor de adubos
Enviar BEB15385 para setor de adubos
Enviar BEB24213 para setor de adubos
Enviar BEB56262 para setor de adubos
Enviar BEB75073 para setor de adubos
['beb46275', 'BEB21365', 'BEB31623', 'BEB73344', 'BEB80694', 'BEB19495', 'BEB97471', 'BEB62362', 'BEB85146', 'BEB48898', 'BEB79496', 'BEB15385', 'BEB24213', 'BEB56262', 'BEB75073']